language: rust
rust:
  - stable
install:
  - rustup component add rustfmt
  - rustup component add clippy
script:
  - cargo fmt -- --check
  - cargo clippy -- -D warnings
  - cargo test
  - cargo package --allow-dirty
