[package]
name = "whatlang"
version = "0.7.0"
authors = ["Sergey Potapov <blake131313@gmail.com>"]
edition = "2018"
description = "Natural language detection library. Identifies language of a given text."
keywords = ["language", "nlp", "lang", "whatlang", "text"]
license = "MIT"
repository = "https://github.com/greyblake/whatlang-rs"
homepage = "https://github.com/greyblake/whatlang-rs"
documentation = "https://docs.rs/whatlang"
readme = "README.md"
categories = ["text-processing", "algorithms"]
include = [
    "src/**/*",
    "test/**/*",
    "Cargo.toml",
    "README.md"
]

[badges]
travis-ci = { repository = "greyblake/whatlang-rs", branch = "master" }

[dependencies]
hashbrown = "0.1.8"

[dev-dependencies]
serde_json = "1.0.39"
bencher = "0.1.5"
proptest = "0.9.1"

[[bench]]
name = "example"
harness = false
